<!-- <div class="container">
  <div class="card-group">
    <div class="card text-center col-12 col-sm-12 col-md-6 col-lg-6" *ngFor="let movie of movies" id="card">
      <img class="card-img-top" [src]="movie.imageUrl" alt="" />

      <span class="badge badge-info" style="border-radius: 0; font-weight: 500"
        >Stock : {{ movie.numberInStock }}</span
      >

      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>

        <div class="card-subtitle mb-2 text-muted">
          <span> <b>Genre</b> : {{ movie.genre.name }} </span>,
          <span><b>Rating</b> : {{ movie.rating }}/5</span>
        </div>

        <div class="card-text">
          <span class="btn btn-transparent">
            <b>Rental Rate</b> : {{ movie.dailyRentalRate | currency }}
          </span>
          <span class="btn btn-transparent">
            <b>Price</b> : {{ movie.price | currency }}</span
          >
        </div>

        <div>
          <p class="card-text"><b>Summery</b> : {{ movie.summery }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div>
          <a
            (click)="trailerPopUp(movie.trailerUrl)"
            class="btn btn-block btn-dark"
          >
            <i class="fa fa-youtube"></i> Watch Trailer</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
<genres class="mt-3"></genres>
<div class="container mt-5">
  <div class="card  mb-5" *ngFor="let movie of movies">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3">
        <img [src]="movie.imageUrl" alt="" />
      </div>
      <div class="col-12 col-sm-12 col-lg-9 col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }}</h2>
          <h3 class="card-title text-muted">
            Genre :
            <span class="text-muted">{{ movie.genre.name }}</span>
          </h3>
          <p class="card-text">{{ movie.summery }}</p>
          <div>
            <span class="mr-3">
              <b>Rental Rate</b> : {{ movie.dailyRentalRate | currency }}
            </span>
            <span class="mr-3">
              <b>Price</b> : {{ movie.price | currency }}</span
            >
            <span
              class="badge badge-info"
              style="border-radius: 0; font-weight: 500"
              >Stock : {{ movie.numberInStock }}</span
            >
            <div>
              <div class="mt-1">
                <button
                  (click)="trailerPopUp(movie.trailerUrl)"
                  class="btn btn-dark"
                >
                  <i class="fa fa-youtube"></i> Watch Trailer</button
                >
              </div>

              <div class="mt-3">
                <span>
                  <button class="btn btn-dark mr-2">Rent</button>
                </span>
                <span>
                  <button class="btn btn-dark mr-2">Buy</button>
                </span>
                <span>
                  <button class="btn btn-dark">Add to Cart</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
