/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans KR', sans-serif; background-color: whitesmoke;}

/* .btn{
  width: 192px !important;
  height: 37px !important;
} */
.w-100{
  width: 100%;
}

.box_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.br-6{
 border-radius: 6px;
}
